.VisuallyHidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 3vh;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px)
  {
    input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 3vh;
        margin-bottom: 5vh;
        margin-top:3vh;
      }
  }